@tailwind base;
@tailwind components;
@tailwind utilities;

.linear{
   
    background: linear-gradient(270deg, #1A9C9A -91.11%, rgba(26, 156, 154, 0.00) 116.87%), #FFF;
    }
    .appointment{
        background: #FFF;
box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.16);
    }
    .sidenav{
        box-shadow: 6px 0px 15px 0px rgba(87, 87, 87, 0.25);
    }